.nav
{
    height: 10vh;
    width: 100%;
    background-color: yellowgreen;
}

.form-con
{
    display: flex;
    justify-content: center;
}

.fucking-form
{
    height: 200px;
    width: 80%;
    background-color: red;

}